.book-show {
  background-color: #ffffffbb;
  width: 400px;
  /* height: 400px; */
  font-size: 2rem;
  position: relative;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 2rem;
}

img {
  margin: 10px auto;
}

/*! Btn Delete Start  */
.btn-delete {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgb(212, 9, 9);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn-delete svg {
  width: 10px;
  fill: #fff;
}
/*! Btn Delete Finish  */

/*! Btn Edit Start   */

.btn-edit {
  position: absolute;
  top: 2px;
  right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #777;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  /* background: #e62222; */
}
.btn-edit svg {
  width: 10px;
  fill: #fff;
}

/*! Btn Edit Finish   */
